.home {
  .history{
    flex: 1;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li{
        margin-right: 20px;
        position: relative;
        &:last-child{
          &:after{
            content: none;
          }
        }
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 6px solid transparent; /* Adjust the size */
          border-bottom: 6px solid transparent; /* Adjust the size */
          border-left: 8px solid #333; /* Adjust the color and size */
        }
      }
    }
  }

  .home-content {
   .section{
     .section-title{
       color: #1f1f1f;
       padding: 8px 0 16px;
       font-size: 16px;
       font-weight:500;
     }
   }

  }
}
.delete-modal{
  .icon{
    svg{
      font-size: 60px;
      color: #dc3545;
    }
  }
  .warning-text{
    font-size: 18px;
  }
}
