:root {
  --white: #fff;
  --black-color: #222;
  --blue-color: #6dabe4;
  --blue-1: #228bec;
  --blue-light: rgba(109, 171, 228, 0.25);
  --grey-light: #999;
  --grey-1: #ececec;
  --hover-1: #dfe3e7;
  --font-poppins: 'Poppins', sans-serif;
}
